.fangwei {
    width: 100%;
    height: 100%;

    .tishi-box {
        width: 50%;
        position: absolute;
        top: 150px;
        right: 20px;
    }
    
    .tishi {
        z-index: 99999;
        background: rgba(0,0,0,.6);
        text-align: center;
        box-sizing: border-box;
        padding: 10px;
        color: #fff;
        font-size: 24px;
        font-weight: 900;
        line-height: 35px;
    }
    
    .text-ani {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid rgba(0,0,0,.6);
        position: absolute;
        top: -20px;
        left: 65%;
    }
    
    .tishi image {
        width: 20%;
        height: 20px;
    }

    &-nick {
        background: #ef2f24;
        height: 50px;
        padding: 20px;
        border-top: 1px solid white;
        font-size: 26px;
        color: white;

        img {
            width: 60px;
            height: 60px;
            margin: 0 20px;
            border-radius: 50%;
            overflow: hidden;
            vertical-align: middle;
            background-color: white;
        }

        span {
            position: relative;
            top: 2px;
        }
    }

    &-query {
        width: 95%;
        background: #fff;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 40px 10px;
        border-radius: 10px;
        box-shadow: 0 0 6px #cfcfcf;
        
        .query-title {
            font-size: 24px;
            text-align: left;
            margin-bottom: 20px;
            color: #707072;
        }

        .query-none {
            font-size: 24px;
            color: #707072;
            text-align: center;
        }

        .query-content {
            max-height: 400px;
            overflow-y: scroll;
            li {
                display: flex;
                font-size: 24px;
                padding: 0 5px;
                justify-content: space-between;
                margin-bottom: 10px;
            }
        }
    }

    &-main {
        width: 100%;
        margin-top: 30px;
    }

    &-code {
        width: 100%;
        padding: 100px 8% 0;
        box-sizing: border-box;
        margin-bottom: 60px;

        .codes {
            width: 240px;
            height: 240px;
            background-image: linear-gradient(0deg,#c0ccdb,#d9e2f1);
            margin: 0 auto;
            color: #818da2;
            font-size: 80%;
            border-radius: 100%;
            text-align: center;
            box-sizing: border-box;
            padding-top: 60px;
            margin-bottom: 30px;

            img {
                width: 40%;
                height: 50%;
            }

            p {
                font-size: 24px;
            }
        }

        .codes-text {
            text-align: center;
            font-size: 26px;
            color: #707072;
            font-weight: bold;

            span {
                color: #5178dc;
            }
        }
    }

    &-img {
        margin: 40px auto;
        width: 80%;

        img {
            width: 100%;
        }
    }

    &-foot {
        display: flex;
        font-size: 26px;
        font-weight: bold;
        padding: 0 20px;
        .logo {
            width: 80px;
            height: 80px;
            margin-right: 10px;

            img {
                width: 100%;
            }
        }
        .text {
            text-align: center;
            width: 100%;
        }
        span {
            color: #EE0A24;
            font-size: 36px;
        }
    }
}