@charset "UTF-8";

.cihelper-foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  font-size: 0.693333rem;
  font-weight: bold;
  padding: 0 0.533333rem;
}

.cihelper-foot .logo {
  width: 2.133333rem;
  height: 2.133333rem;
  margin-right: 0.266667rem;
}

.cihelper-foot .logo img {
  width: 100%;
}

.cihelper-foot .text {
  text-align: center;
  width: 100%;
}

.cihelper-foot span {
  color: #EE0A24;
  font-size: 0.96rem;
}

.cihelper .search-box {
  width: 100%;
  height: auto;
  margin-top: 2.133333rem;
}

.cihelper .search {
  width: 85%;
  height: auto;
  margin: 0 auto 2.133333rem;
  box-sizing: border-box;
  padding: 0.266667rem;
  display: flex;
  justify-content: space-between;
}

.cihelper .search-input {
  width: 70%;
  background: #e0eefc;
  border: 0.026667rem solid #aeb3b9;
  border-radius: 0.133333rem;
  color: #000;
  font-weight: 700;
  outline: none;
}

.cihelper .search-input,
.cihelper .submit {
  height: 1.6rem;
  text-align: center;
  font-size: 0.8rem;
}

.cihelper .submit {
  width: 20%;
  line-height: 1.6rem;
  background: #900;
  color: #fff;
  border-radius: 0.133333rem;
  border: none;
}

.cihelper .submit-hover {
  background: #c42026;
  font-size: 0.8rem;
}

.cihelper .search-text {
  text-align: center;
  color: #7d2727;
  font-weight: 700;
  font-family: 宋体;
  font-size: 0.853333rem;
}

.cihelper .search-img {
  margin: 1.066667rem auto;
  width: 90%;
}

.cihelper .search-img img {
  width: 100%;
}