.product-foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  font-size: 0.693333rem;
  font-weight: bold;
  padding: 0 0.533333rem;
}

.product-foot .logo {
  width: 2.133333rem;
  height: 2.133333rem;
  margin-right: 0.266667rem;
}

.product-foot .logo img {
  width: 100%;
}

.product-foot .text {
  text-align: center;
  width: 100%;
}

.product-foot span {
  color: #EE0A24;
  font-size: 0.96rem;
}

.product .product-title {
  line-height: 1.6rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.4rem 0;
  border-bottom: 0.026667rem solid #d3d3d3;
}

.product .table {
  text-align: center;
  width: 100%;
  margin-bottom: 0.533333rem;
}

.product .detail {
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 0.026667rem solid #d3d3d3;
  line-height: 1.6rem;
  font-size: 0.64rem;
}

.product .detail-title {
  width: 30%;
  border-right: 0.026667rem solid #d3d3d3;
  color: #a8a8a8;
  font-weight: 700;
}

.product .detail-text,
.product .detail-title {
  box-sizing: border-box;
  padding: 0.133333rem 0.266667rem;
}

.product .detail-text {
  width: 70%;
}

.product .button-but {
  width: 100%;
  margin-bottom: 1.6rem;
  box-sizing: border-box;
  padding: 0.266667rem 0.4rem;
  display: flex;
  justify-content: space-between;
}

.product .button-list {
  width: calc(100% / 6);
}

.product .list-img {
  width: 85%;
  height: 2.666667rem;
}

.product .list-img image {
  width: 100%;
  height: 2.666667rem;
}

.product .button-list span {
  font-size: 0.64rem;
  color: #c42026;
  text-align: center;
}